<div class="contents_form">
  <div class="container_box">
    <h1>健康状態</h1>
  </div>
</div>
<div class="graph">
<%= line_chart @activity.group_by_day(:created_at).sum(:activity), xtitle: "日付", ytitle: "スコア", width: "80%", height: "200px" %>
</div>
<br>
<div class="graph">
<%= line_chart @feeling.group_by_day(:created_at).sum(:feeling), xtitle: "日付", ytitle: "スコア", width: "80%", height: "200px",colors: ["#b00"] %>
</div>
<br>
<div class="graph">
<%= line_chart @condition.group_by_day(:created_at).sum(:condition), xtitle: "日付", ytitle: "スコア", width: "80%", height: "200px",colors: ["#ff0"] %>
</div>
<br>
<div class="graph">
<%= line_chart @appetite.group_by_day(:created_at).sum(:appetite), xtitle: "日付", ytitle: "スコア", width: "80%", height: "200px",colors: ["#008000"] %>
</div>
<div class="container_box">
  <a class="btn btn-primary btn-lg">活動量</a>
  <a class="btn btn-danger btn-lg">気分</a>
  <a class="btn btn-warning btn-lg">体調</a>
  <a class="btn btn-success btn-lg">食欲</a>
</div>
<br>

<div class="contents row">
  <% @records.each do |record| %>
    <div class="content_record" >
      <p>記録日：<%= record.created_at.strftime("%F") %></p>
      <p>活動量：<%= record.activity %></p>
      <p>気分：<%= record.feeling %></p>
      <p>体調：<%= record.condition %></p>
      <p>食欲：<%= record.appetite %></p>
      <%= link_to '削除', "/records/#{record.id}", method: :delete %>
    </div>
  <% end %>
</div>