<div class="contents_form">
  <div class="container_box">
    <h1>健康状態</h1>
  </div>
</div>
<%= line_chart Record.group(:activity).group_by_day(:created_at).count %>
<br>

<div class="contents row">
  <% @records.each do |record| %>
    <div class="content_record" >
      <p>記録日：<%= record.created_at.strftime("%F") %></p>
      <p>活動量：<%= record.activity %></p>
      <p>気分：<%= record.feeling %></p>
      <p>体調：<%= record.condition %></p>
      <p>食欲：<%= record.appetite %></p>
      <%= link_to '削除', "/records/#{record.id}", method: :delete %>
    </div>
  <% end %>
</div>