<div class="contents_form">
  <div class="container_box">
    <h1>健康状態</h1>
  </div>
</div>
<div class="graph">
<%= line_chart @record_all.group_by_day(:created_at).sum(:activity), xtitle: "日付", ytitle: "活動量", width: "80%", height: "200px" %>
</div>
<br>
<div class="graph">
<%= line_chart @record_all.group_by_day(:created_at).sum(:feeling), xtitle: "日付", ytitle: "気分", width: "80%", height: "200px",colors: ["#b00"] %>
</div>
<br>
<div class="graph">
<%= line_chart @record_all.group_by_day(:created_at).sum(:condition), xtitle: "日付", ytitle: "体調", width: "80%", height: "200px",colors: ["#ff0"] %>
</div>
<br>
<div class="graph">
<%= line_chart @record_all.group_by_day(:created_at).sum(:appetite), xtitle: "日付", ytitle: "食欲", width: "80%", height: "200px",colors: ["#008000"] %>
</div>
<div class="container_box">
  <a class="btn btn-primary btn-lg">活動量</a>
  <a class="btn btn-danger btn-lg">気分</a>
  <a class="btn btn-warning btn-lg">体調</a>
  <a class="btn btn-success btn-lg">食欲</a>
</div>
<br>

<div class="contents row mx-auto" style="width: 80%">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">日付</th>
      <th scope="col">活動量</th>
      <th scope="col">気分</th>
      <th scope="col">体調</th>
      <th scope="col">食欲</th>
    </tr>
    </thead>
    <tbody>
    <% @records.each do |record| %>
    <tr>
      <td scope="row"><%= record.created_at.strftime("%F") %></td>
      <td scope="row"><%= record.activity %></td>
      <td scope="row"><%= record.feeling %></td>
      <td scope="row"><%= record.condition %></td>
      <td scope="row"><%= record.appetite %></td>
      <td scope="row"><%= link_to '削除', "/records/#{record.id}", method: :delete %></td>
    <tr>
     <% end %>
    </tbody>   
  </table>
</div>