<div class="contents_form">
  <div class="container_box">
    <h3>記録する</h3>
    <%= form_with(model: @record, local: true) do |form|  %>
      <%= form.text_area :activity, placeholder: "活動量", class: 'container'%>
      <%= form.text_area :feeling, placeholder: "気分", class: 'container'%>
      <%= form.text_area :condition, placeholder: "体調", class: 'container'%>
      <%= form.text_area :appetite, placeholder: "食欲", class: 'container'%>
      <%= form.submit "記録する", class: 'container'%>
    <% end %>
  </div>
</div>